* {
    box-sizing: border-box;
}

body {
    background-color: #3a3a3a;
    font-family: 'Open Sans', sans-serif;
}

.accordion {
    background-color: #929090;
    max-width: 600px;
    margin: 50px auto;
    border-top: 6px solid #ffbc04;
    line-height: 1.6;
    box-shadow: 5px 5px 10px 0px #242525;
}

.accordion-item {
    border-bottom: 1px solid #dce7eb;
    padding: 15px 15px 15px 40px;
    cursor: pointer; 
}

.accordion-title {
    color: #fdfdfd;
    text-shadow: #000000;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;  
    position: relative;
}

.accordion-title::before {
    content: "🠟";
    font-size: 20px;
    position: absolute;
    left: -16px;
    top: -4px;
    color: #000000;
}

.accordion-content {
    display: none;
}

.open .accordion-title::before {
    content: "🠝";
}


